<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.jiil.tremproject" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:protectionLevel="signature"
        android:name="com.example.jiil.tremproject.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.starter.permission.C2D_MESSAGE" />

    <application android:theme="@style/AppTheme" android:supportsRtl="true" android:label="" android:icon="@mipmap/ic_launcher" android:allowBackup="true">
    <activity android:theme="@style/AppTheme.NoActionBar" android:name=".MainActivity">
    <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
</activity>
    <activity android:name=".ChatBubbleActivity">
    <intent-filter>
    <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
</activity>
    <activity android:label="식물 도감" android:name=".PlantguideActivity"> </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.jiil.tremproject" />
            </intent-filter>
        </receiver>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
